# General ignore rules
__pycache__/*
package-lock.json
*.pyc
auto_gpt_workspace/*
*.mpeg
.env
outputs/*
ai_settings.yaml

# Ignore everything inside these directories
alexandria/*
antikythera/*
aetherion/*
athenium/*
acheron/*
oracle_logs/*
Old/*
OpenInterpreter/*

# Allow the directories themselves to be tracked
!alexandria/.gitkeep
!antikythera/.gitkeep
!aetherion/.gitkeep
!athenium/.gitkeep
!acheron/.gitkeep
!oracle_logs/.gitkeep
!Old/.gitkeep
!OpenInterpreter/.gitkeep
!OpenInterpreter/data/.gitkeep
!OpenInterpreter/downloads/.gitkeep
!OpenInterpreter/logs/.gitkeep
!OpenInterpreter/output/.gitkeep
!OpenInterpreter/scripts/.gitkeep

# If you need additional rules, add them below
